.title {
  font-size: 70px;
  font-family: fantasy;
  text-align: center;
  letter-spacing: 20px;
  margin-top: 15px;
  margin-bottom:10px;
  background:linear-gradient(to right, blue, yellow, red);
  border: 3px solid black;
}
.table-one {
  border-collapse: collapse;
  width:100%;
  border-color:#660022;
  background-color:black;
}
.header {
  color:white;
  border-style:groove;
  cursor:pointer;
  padding:5px;
  font-size:15px;
  margin:0px;
  display:block;
}
#red {
  background-color:red;
}
#orange {
  background-color:orange;
}
#yellow {
  background-color:#e6e600;
}
#green {
  background-color:green;
}
#blue {
  background-color:blue;
}
#indigo {
  background-color:indigo;
}
#violet {
  background-color:purple;
}
#red:hover {
  background-color:#b30000
}
#orange:hover {
  background-color:#b37400
}
#yellow:hover {
  background-color:#b3b300
}
#green:hover {
  background-color:#003300
}
#blue:hover {
  background-color:#0000b3
}
#indigo:hover {
  background-color:#1e0033
}
#violet:hover {
  background-color:#330033
}
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body, html {
  height:100%;
}
#quotebox {
  background-color:#ECECEC;
  font-size:40px;
  font-family: "Tangerine", serif;
  padding:10px;
  text-align:center;
  margin-bottom:70px;
  margin-top:40px;
}
h2, p, .center {
  text-align:center;
}
p {
  line-height: 1.6;
}
.side {
  display:inline-block;
  text-align:left;
  width:20%;
  margin-left:15%;
  line-height:2;
}
.michel {
  display:inline;
  float:right;
  margin-right:20%;
}
.border {
  border: 8px double green;
  padding:10px;
}
.otherside {
  display:inline;
  float:left;
  margin-left:16%;
  margin-top:10%;
}
.rightside {
  margin-top:8%;
  display:inline-block;
  text-align:right;
  width:20%;
  margin-left:23%;
  line-height:2;
}
.info {
  margin:auto;
  display:table;
  width:70%;
}
.cupules {
  text-align:center;
  display:block;
  margin:auto;
}
.bull {
  text-align:center;
  display:block;
  margin:auto;
  margin-bottom:3%;
}
#custombutton {
  text-align:center;
}
#link {
  color:indigo;
  border: 2px inset indigo;
  padding:5px;
  background:#d499ff;
}
